
{% extends 'index.html' %}

{% block title %}Serach Hashtag{% endblock title %}

{% block content %}
  
<center>


  <div class="container m-4 p-4" style="border: solid 1px #000;">
    <div class="row row-style">
      <div class="col-xs-8 col-xs-offset-2">
        <div class="panel panel-default">
           <div class="panel-heading">
              <b style="font-size:30px"><center>Sentiment Analysis of COVID-19 Tweets Visualization Dashboard</center></b>

           </div>
           <br><br>
           <div class="panel-body">
             <p style="color:#000; font-size:20px"><i>We Developed a dashboard With Visualization of Peoples reaction to the <br>government
             announcement on lockdown extension and Peoples reaction <br>towards epidemic.This Web Application includes sentiment Analysis like <br>
           Positive,Negative,Neutral etc. of Indians after the extension of lockdown announcement to be analyzed with the relevant #tags on twitter like #coronago,#fightagaintscorona,#lockdown4.0 and we build a predictive <br>
          analytics model to understand the behavior of People if the lockdown is <br>further extended.
          This Application Helps Peoples as well as government to understand what Peoples reaction towards extension of lockdown and<br>
        reactions towards Epidemic.</i></p>

           </div>

        </div>

      </div>

    </div>

  </div>


</center>

{% endblock content %}